/*------------------------------
>>> Table of COntents:
--------------------------------
1. Reset
2. Typography
3. Elements
4. Padding/Margin
5. Forms
6. Navigation
7. Accessibility
8. Alignments
9. Clearings
10. Header Area
11. Promotion Area
12. Featured Content Area
13. Content
14. Widgets
15. Comments
16. Media
17. Captions
18. Galleries
19. Footer
20. Extra Elements
--------------------------------*/

html {
	font-size: 62.5%;
	overflow-y: scroll;
}

.container {
	width: 1200px;
	margin: 40px auto;
}